NET "CLK" LOC = C9  | PULLDOWN;
NET "RST" LOC = K17  | PULLDOWN;
NET "SER" LOC = V16  | PULLDOWN;
NET "Q[0]" LOC = F12 | PULLDOWN;
NET "Q[1]" LOC = E12 | PULLDOWN;
NET "Q[2]" LOC = E11 | PULLDOWN;
NET "Q[3]" LOC = F11 | PULLDOWN;
NET "Q[4]" LOC = C11 | PULLDOWN;
NET "Q[5]" LOC = D11 | PULLDOWN;
NET "Q[6]" LOC = E9  | PULLDOWN;
NET "Q[7]" LOC = F9  | PULLDOWN;