//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 02 15:48:56 2024
//! **************************************************************************

SCHEMATIC START;
COMP "S0" LOCATE = SITE "L13" LEVEL 1;
COMP "S1" LOCATE = SITE "L14" LEVEL 1;
COMP "S2" LOCATE = SITE "H18" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "Q<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "Q<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "CLK50MHz" LOCATE = SITE "C9" LEVEL 1;
COMP "RST" LOCATE = SITE "V16" LEVEL 1;
NET "CLK50MHz_BUFGP/IBUFG" BEL "CLK50MHz_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

