//! **************************************************************************
// Written by: Map P.20131013 on Wed Oct 02 12:44:30 2024
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "F9" LEVEL 1;
COMP "Q<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "Q<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "Q<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "RST" LOCATE = SITE "N17" LEVEL 1;
COMP "I" LOCATE = SITE "V16" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

