NET "RST" LOC = V16 | pulldown;
NET "CLK" LOC = C9;
NET "stb" LOC = E8; 
NET "clk" LOC = F8; 
NET "dio" LOC = C7;
NET "CLK" IOSTANDARD = LVCMOS33; 
NET "clk" IOSTANDARD = LVCMOS33; 
NET "stb" IOSTANDARD = LVCMOS33; 
NET "dio" IOSTANDARD = LVCMOS33; 